<?xml version="1.0" encoding="UTF-8"?>
<Context antiJARLocking="true">

    <!-- EXAMPLE CONTEXT SHOWING SOME JNDI DB CONNECTIONS -->



    <!--<Resource auth="Container"-->
              <!--description="AU DB Connection"-->
              <!--driverClass="${au-db-driver}"-->
              <!--maxPoolSize="50"-->
              <!--minPoolSize="2"-->
              <!--maxIdleTime="30"-->
              <!--maxConnectionAge="30"-->
              <!--maxIdleTimeExcessConnections="15"-->
              <!--acquireIncrement="1"-->
              <!--name="jdbc/autoupdateDataSource"-->
              <!--user="${au-db-username}"-->
              <!--password="${au-db-password}"-->
              <!--factory="org.apache.naming.factory.BeanFactory"-->
              <!--type="com.mchange.v2.c3p0.ComboPooledDataSource"-->
              <!--jdbcUrl="${au-db-url}"-->
            <!--/>-->

    <!--<Resource auth="Container"-->
              <!--description="Report DB Connection"-->
              <!--driverClass="${aureport-db-driver}"-->
              <!--maxPoolSize="50"-->
              <!--minPoolSize="2"-->
              <!--maxIdleTime="30"-->
              <!--maxConnectionAge="30"-->
              <!--maxIdleTimeExcessConnections="15"-->
              <!--acquireIncrement="1"-->
              <!--name="jdbc/auReportDataSource"-->
              <!--user="${aureport-db-username}"-->
              <!--password="${aureport-db-password}"-->
              <!--factory="org.apache.naming.factory.BeanFactory"-->
              <!--type="com.mchange.v2.c3p0.ComboPooledDataSource"-->
              <!--jdbcUrl="${aureport-db-url}"-->
            <!--/>-->

    <!--<Resource auth="Container"-->
              <!--description="NPS DB Connection"-->
              <!--driverClass="${aunps-db-driver}"-->
              <!--maxPoolSize="50"-->
              <!--minPoolSize="2"-->
              <!--maxIdleTime="30"-->
              <!--maxConnectionAge="30"-->
              <!--maxIdleTimeExcessConnections="15"-->
              <!--acquireIncrement="1"-->
              <!--name="jdbc/auNPSDataSource"-->
              <!--user="${aunps-db-username}"-->
              <!--password="${aunps-db-password}"-->
              <!--factory="org.apache.naming.factory.BeanFactory"-->
              <!--type="com.mchange.v2.c3p0.ComboPooledDataSource"-->
              <!--jdbcUrl="${aunps-db-url}"-->
            <!--/>-->

    <!--<Resource auth="Container"-->
              <!--description="AUDIT DB Connection"-->
              <!--driverClass="${audit-db-driver}"-->
              <!--maxPoolSize="50"-->
              <!--minPoolSize="2"-->
              <!--maxIdleTime="30"-->
              <!--maxConnectionAge="30"-->
              <!--maxIdleTimeExcessConnections="15"-->
              <!--acquireIncrement="1"-->
              <!--name="jdbc/auditDataSource"-->
              <!--user="${audit-db-username}"-->
              <!--password="${audit-db-password}"-->
              <!--factory="org.apache.naming.factory.BeanFactory"-->
              <!--type="com.mchange.v2.c3p0.ComboPooledDataSource"-->
              <!--jdbcUrl="${audit-db-url}"-->
            <!--/>-->

    <!--<Resource auth="Container"-->
              <!--description="RBAC DB Connection"-->
              <!--driverClass="${rbac-db-driver}"-->
              <!--maxPoolSize="50"-->
              <!--minPoolSize="2"-->
              <!--maxIdleTime="30"-->
              <!--maxConnectionAge="30"-->
              <!--maxIdleTimeExcessConnections="15"-->
              <!--acquireIncrement="1"-->
              <!--name="jdbc/rbacDataSource"-->
              <!--user="${rbac-db-username}"-->
              <!--password="${rbac-db-password}"-->
              <!--factory="org.apache.naming.factory.BeanFactory"-->
              <!--type="com.mchange.v2.c3p0.ComboPooledDataSource"-->
              <!--jdbcUrl="${rbac-db-url}"-->
            <!--/>-->


</Context>
