<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-web4-webflow-learning:war">
    <output-path>$PROJECT_DIR$/spring-boot-web4-webflow-learning/target</output-path>
    <root id="archive" name="spring-boot-web4-learning-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-boot-web4-webflow-learning:war exploded" />
    </root>
  </artifact>
</component>